---
import Layout from "../../layouts/NavBarLayout.astro";
---

<Layout title="项目" page="project">
  <div class="grid place-content-center" style="height: calc(100vh - 80px);">
    这里空空如也 (暂时的)
  </div>
</Layout>
